<?xml version="1.0"?>
<ApplicationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Programs>
		<string>C:\Program Files (x86)\BraveSoftware\Brave-Browser\Application\brave.exe</string>
		<string>C:\Program Files\Google\Chrome\Application\chrome.exe</string>
		<string>C:\Program Files (x86)\Google\Chrome\Application\chrome.exe</string>
		<string>C:\Program Files\Mozilla Firefox\firefox.exe</string>
		<string>C:\Program Files\VideoLAN\VLC\vlc.exe</string>
	</Programs>
</ApplicationSettings>